﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                type: 'POST',
                url: '/Main/FirstTimeLogin',
                dataType: 'json',
                success: function (result) {
                    if (result.returnvalue) {
                        $("#btnTour").show();
                        Tourist();
                        // updateDB();
                        $('#popoverData').popover();
                        //alert("First Time log in");
                    }
                    else {
                        //swal("Oops", "Not the first time Login!", "error");
                        Tourist();
                    }
                }
            });
        });
        function Tourist() {
            var tour = new Tour({
                backdrop: true,
                animation: true,
                //basePath: location.pathname.slice(1, location.pathname.lastIndexOf('/')),
                basePath: "/Main/Index",
                onShown: function (tour) {
                    $('.animated').removeClass('fadeIn');
                    $('.animated-panel').removeClass('zoomIn');
                },
                steps: [

                {
                    element: "#tour-2",
                    title: "Dashboard",
                    content: "User dashboard here, you can view summary of the actual information",
                    placement: "bottom"
                },

                {
                    element: "#tour-11",
                    title: "Profile",
                    content: "View your profile, Logout etc.",
                    placement: "right",
                },


                {
                    element: "#hideNavigation",
                    title: "Navigation",
                    content: "Here you can hide the navigation bar",
                    placement: "bottom"
                },
                {
                    element: "#login",
                    title: "Log Out",
                    content: "Easy logout",
                    placement: "left"
                },

                {
                    element: "#notifications",
                    title: "Notifications",
                    content: "Access your notifications here",
                    placement: "bottom"
                },
                ],
                storage: window.localStorage
            });
            tour.init();
            $('.run-tour').click(function () {
                tour.restart();
            });
        };
        //function updateDB() {
        //    $.ajax({
        //        type: 'POST',
        //        url: '/Main/updateDB',
        //        dataType: 'json',
        //        success: function (response) {
        //            alert(response.d);
        //            swal("Good Job!", "Successful.", "success");
        //            location.reload();
        //        }
        //    });
        //}
    </script>



    <style>
        .popover1 {
            width: 500px;
            padding: 10px;
            box-sizing: border-box;
            border-radius: 30px 30px 30px 30px;
            transform-style: preserve-3d;
        }

         .panelbackground1 .panel-body {
            background-color: rgba(51, 153, 255, 0.68) !important;
        }

        .panelbackground2 .panel-body {
            background-color: rgba(82, 168, 255, 0.46)!important;
        }

        .panelbackground3 .panel-body {
            background-color:  rgba(51, 153, 255, 0.68) !important;
        }

        .panelbackground4 .panel-body {
            background-color: rgba(82, 168, 255, 0.46)!important;
        }
    </style>


    <div class="content">
        <div class="row" id="tour-2">
            <a onclick="location.href='@Url.Action("TasksByStatusReport", "Container", new { Id = "1" })'">
                <div class="col-lg-3">
                    <div class="hpanel stats panelbackground1">
                        <div class="panel-body">
                            <div class="stats-title pull-left">
                                <h4>Opened Cases</h4>
                            </div>
                            <div class="stats-icon pull-right">
                                <h1 class="font-extra-bold m-t-xl m-b-xs ">
                                    @ViewBag.Open
                                </h1>
                            </div>
                            <div class="m-t-xl">
                                @*@{
                                        if (Role == "Employee")
                                        {
                                            <h1 class="text-success">@{Html.RenderAction("CountTaskDueEmployee", "Main"); }</h1>
                                                }
                                    }*@

                                <span class="font-bold no-margins">
                                    <i class="pe-7s-map-marker fa-4x"></i>
                                </span>
                                <br />
                                <br />
                                <medium>
                                    Click on the link to view <strong style="font-style:italic;color:red"><a onclick="location.href='@Url.Action("TasksByStatusReport", "Container", new { Id = "1" })'"></a></strong>....
                                </medium>
                            </div>
                        </div>
                        <div class="panel-footer">
                            @*This is standard panel footer*@
                        </div>
                    </div>
                </div>
            </a>


            <a onclick="location.href='@Url.Action("ContainersIntrasit", "Report")'">
                <div class="col-lg-3">
                    <div class="hpanel stats panelbackground2">
                        <div class="panel-body">
                            <div class="stats-title pull-left">
                                <h4>Closed Case</h4>
                            </div>
                            <div class="stats-icon pull-right">
                                <h1 class="font-extra-bold m-t-xl m-b-xs ">
                                    @ViewBag.Closed
                                </h1>
                            </div>
                            <div class="m-t-xl">
                                @*@{
                                        if (Role == "Employee")
                                        {
                                            <h1 class="text-success">@{Html.RenderAction("CountTaskDueEmployee", "Main"); }</h1>
                                                }
                                    }*@

                                <span class="font-bold no-margins">
                                    <i class="pe-7s-global fa-4x"></i>
                                </span>
                                <br />
                                <br />
                                <medium>
                                    Click on the link to view <strong style="font-style:italic"><a onclick="location.href='@Url.Action("ContainersIntrasit", "Report")'"></a></strong>....
                                </medium>
                            </div>
                        </div>
                        <div class="panel-footer">
                            @*This is standard panel footer*@
                        </div>
                    </div>
                </div>
            </a>
            <a onclick="location.href='@Url.Action("ContainersPickedUp", "Report")'">
                <div class="col-lg-3">
                    <div class="hpanel stats panelbackground3">
                        <div class="panel-body">
                            <div class="stats-title pull-left">
                                <h4>In Progress</h4>
                            </div>
                            <div class="stats-icon pull-right">
                                <h1 class="font-extra-bold m-t-xl m-b-xs ">
                                    @ViewBag.InProgress
                                </h1>
                            </div>
                            <div class="m-t-xl">
                                @*@{
                                        if (Role == "Employee")
                                        {
                                            <h1 class="text-success">@{Html.RenderAction("CountTaskOpenEmployee", "Main"); }</h1>
                                                }
                                    }*@

                                <span class="font-bold no-margins">
                                    <i class="pe-7s-repeat fa-4x"></i>
                                </span>
                                <br />
                                <br />
                                <medium>
                                    Click on the link to view <strong style="font-style:italic"><a onclick="location.href='@Url.Action("Search", "Fault")'"></a></strong>..
                                </medium>
                            </div>
                        </div>
                        <div class="panel-footer">
                            @*This is standard panel footer*@
                        </div>
                    </div>
                </div>
            </a>


            <a onclick="location.href='@Url.Action("Index", "Container")'">
                <div class="col-lg-3">
                    <div class="hpanel stats panelbackground4">
                        <div class="panel-body">
                            <div class="stats-title pull-left">
                                <h4>All Cases</h4>
                            </div>
                            <div class="stats-icon pull-right">
                                <h1 class="font-extra-bold m-t-xl m-b-xs ">
                                    @ViewBag.All
                                </h1>

                            </div>
                            <div class="m-t-xl">


                                <span class="font-bold no-margins">
                                    <i class="pe-7s-more fa-4x"></i>
                                </span>
                                <br />
                                <br />
                                <medium>
                                    Click on the link to view<strong style="font-style:italic"><a onclick="location.href='@Url.Action("Index", "Container")'"></a></strong>..
                                </medium>
                            </div>
                        </div>
                        <div class="panel-footer">
                            @*This is standard panel footer*@
                        </div>
                    </div>
                </div>
            </a>
        </div>

        @*<div class="col-md-6">
            <div class="col-md-6">
                <i class="fa fa-laptop"></i> Number of faults per month
            </div>
            <div class="flot-chart" style="height: 170px">
                <div class="flot-chart-content" id="flot-line-chart"><canvas id="flot-line-charts" height="115"></canvas></div>
            </div>
        </div>*@

 

        </div>


        <div class="row" style="padding-top:0px">

            <div>
                <div class="hpanel">

                    <div id="chartContainer" style="height: 300px; width: 100%;"></div>

                </div>
            </div>
        </div>


        @*<div id="chartContainer" style="height: 300px; width: 100%;"></div>
     <canvas id="pieChart" style="height: 150px; width: 50%;"></canvas>
    <div>*@

        <div>
        <canvas id="flot-line-charts" style="height: 150px; width: 50%;"></canvas>
        </div>
      



   



}
@section Styles{
    @Styles.Render("~/bundles/sweetAlert/css")
    <link href="~/Vendor/bootstrap-tour/build/css/bootstrap-tour.min.css" rel="stylesheet" />


}
@section Scripts {
    @Scripts.Render("~/bundles/flot/js")
    @*@Scripts.Render("~/bundles/jqueryui/js")*@
    @Scripts.Render("~/bundles/sweetAlert/js")
    @Scripts.Render("~/bundles/chartjs/js")
    <script src="~/Vendor/bootstrap-tour/build/js/bootstrap-tour.min.js"></script>


    <script src="~/Scripts/canvasjs.min.js" type="text/javascript"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

    <script>
        window.onload = function () {

            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                title: {
                    text: "Call Tracking Stats - July 2018"
                },
                data: [{
                    type: "pie",
                    startAngle: 240,
                    yValueFormatString: "##0.00\"%\"",
                    indexLabel: "{label} {y}",
                    dataPoints: [
                        { y: 75, label: "Closed" },
                        { y: 20, label: "In Progress" },
                        { y: 5, label: "Open" },
                    ]
                }]
            });
            chart.render();

        }
    </script>
<script>
    window.onload = $.getJSON('http://localhost:51307/Main/CountChartData', function (result) {
        var labels = [], data = [], line=[];

        for (var i = 0; i < result.length ; i++) {
            data.push(result[i]);
            console.log("result");
            line = [{ y: data, label: "Arrived" }];
            var chart = new CanvasJS.Chart("chartContainer", {

                 theme: "light1", // "light1", "light2", "dark1", "dark2"
                
                exportEnabled: true,
                animationEnabled: true,
                title: {
                    text: "Fault Statuses"
                },

                data: [{
                    type: "pie",
                    startAngle: 25,
                    toolTipContent: "<b>{label}</b>: {y}",
                    showInLegend: "true",
                    legendText: "{label}",
                    indexLabelFontSize: 16,
                    indexLabel: "{label} - {y}",
                   // dataPoints:line
                    dataPoints: [
                        { y: result[0], label: "Open" },
                        { y: result[1], label: "Closed" },
                        { y: result[2], label: "In Progress" },
                       
                    ]

                }]

            });

        }
        chart.render();
    });
</script>
    @*<script>
        //pie
        var ctxP = document.getElementById("pieChart").getContext('2d');
        var myPieChart = new Chart(ctxP, {
            type: 'pie',
            data: {
                labels: ["Closed", "In Progress", "Open"],
                datasets: [
                    {
                        data: [75, 20, 5],
                        backgroundColor: ["#2b3e77", "#3f66db", "#2555a3"],
                        hoverBackgroundColor: ["#9bafe8", "#728ee4", "#5c7de0"]
                    }
                ]
            },
            options: {
                responsive: true
            }
        });
    </script>*@

    @*<script>
        //bar
        var ctxB = document.getElementById("barChart").getContext('2d');
        var myBarChart = new Chart(ctxB, {
            type: 'bar',
            data: {
                labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul"],
                datasets: [{
                    data: [12, 19, 3, 5, 2, 3, 0],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>*@

<script type="text/javascript">
    $.getJSON('http://localhost:51307/Main/CountGraphData2', function (result) {
            var labels = [], data = [];

            for (var i = 0; i < result.length ; i++) {
                data.push(result[i]);
                console.log("result");
            }
            //added lineOptions
            var lineOptions = {
                responsive: true,
                legend: {
                    display: false
                },
                //added for labels
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            //labelString: 'Months'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Total number of Faults'
                        },
                        ticks: {
                            beginAtZero: true,
                            min: 0
                        }
                    }]
                }
            };
            //Added linedata
            var linedata = {
                labels: ["January", "February", "March", "April", "May", "June","July","August","September","October","November","December"],
                datasets: [
                {
                    label: "Containers in Month",
                    backgroundColor: "rgba(98,203,49,0.5)",
                    borderColor: "rgba(98,203,49,0.7)",
                    pointBackgroundColor: "rgba(98,203,49,1)",
                    pointBorderColor: "#fff",
                    pointHoverBackgroundColor: "#fff",
                    pointHoverBorderColor: "rgba(26,179,148,1)",
                    data: data
                }]
            };
            var ctx = document.getElementById("flot-line-charts").getContext("2d");
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: linedata,
                options: lineOptions
            });
            //Added to show no data if there is no data to display
            Chart.pluginService.register({
                afterDraw: function (chart) {
                    if (chart.data.datasets[0].data.length === 0) {
                        //No data is present
                        var ctx = chart.chart.ctx;
                        var width = chart.chart.width;
                        var height = chart.chart.height
                        chart.clear();

                        ctx.save();
                        ctx.textAlign = 'center';
                        ctx.textBaseline = 'middle';
                        ctx.font = "20px normal 'Helvetica Nueue'";
                        ctx.fillText('No data to display', width / 2, height / 2);
                        ctx.restore();
                    }

                }
            })
        });
</script>

}